

#btnuser {
    background: #1F2937;
    border-radius: 50px;
    border: none;
}

#img1 {
    border: 2px solid white;
    padding: 2px;
    
}

nav {
    position: sticky;
    top: 0px;
    z-index: 1;
}

div #menu section{
    

}

input {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}
.acordeon{
    background: #fff;
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #1c1c1c;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background: #2e2e2e;
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}

.animate__animated .animate__bounce {
    --animate-duration: 2s;
  }

